.dropdown-menu.dropdown-with-icons .dropdown-item i {
    vertical-align: middle;
    font-size: 15px;
    position: relative;
    margin-top: -4px;
    top: 1px;
    margin-right: 12px;
    opacity: .5;
}


.dropdown-menu.dropdown-with-icons .dropdown-item span {
    width: 30px;
    text-align: center;
}

.feature-container {
    text-align: center;
}


.btn.btn-fab.btn-feature {
    background-color: white;
    color: #00bcd4;
    height: 100px;
    font-size: 50px;
    min-width: 100px;
    width: 100px;
    line-height: 99px;
}

.btn.btn-fab.btn-feature .material-icons {
    font-size: 50px;
    line-height: 99px;
}

.btn.btn-fab.btn-feature :hover .feature-container {
    background-color: #00bcd4;
    color: white;
}

.parallax {
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 576px) {
    .parallax {
        height: 1000px !important;
    }
}

.gray-filter:after {
    background: rgba(255, 255, 255, 0.507);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.39) 0%, rgba(255, 255, 255, 0.6) 100%);
    background: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0.425) 0%, rgba(255, 255, 255, 0.6) 100%);
    background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.411) 0%, rgba(255, 255, 255, 0.6) 100%);
}


.statistic-icon {
    font-size: 50px;
    color: #00bcd4;
}

.statistic-text {
    color: white;
}

.form-control[readonly] {
    background-color: transparent !important;
}


/*copy from material-dashboard.css*/
.card-profile {
    margin-top: 30px;
    text-align: center;
}

.card-profile .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile .card-avatar+.card-body {
    margin-top: 15px;
}

.card-profile .card-avatar img {
    width: 100%;
    height: auto;
}

.card-profile .card-body+.card-footer {
    margin-top: -15px;
}

.card-profile .card-footer .btn.btn-just-icon {
    font-size: 20px;
    padding: 12px 12px;
    line-height: 1em;
}

.card-profile.card-plain .card-avatar {
    margin-top: 0;
}

.card-profile .card-header:not([class*="card-header-"]) {
    background: transparent;
}

.card-profile .card-avatar {
    max-width: 130px;
    max-height: 130px;
}

/*timeline vertical*/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 159px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li > .timeline-content h4{   
    margin-top: 0px;
    color: #22c0e8;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d4d9df;
    left: 150px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline li.active:before{
    border: 3px solid #22c0e8;
}



ul.timeline > li > .date h4,ul.timeline > li > .date p{
    margin: 0px;
}

@media (max-width: 576px) {
    ul.timeline > li:before{
        left: 120px;
    }
    
    ul.timeline:before{
        left: 129px;
    }
}